<!DOCTYPE  html>
<html>
  <head>
   <title>Welcome to JohnlukeSabile.com!</title>
  </head>
  <body>
  <h1>Johnluke Sabile</h1>

<img src="https://npr.brightspotcdn.com/dims4/default/59d30af/2147483647/strip/true/crop/1600x1200+0+0/resize/880x660!/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2F2d%2F66%2Fd2b9519d45c58f7bc81cd4d20742%2Fchristmas-tree.jpg" width="120" height="90" alt="Flagstaff Snow">

<h2>About Johnluke</h2>
    <p>I am a Recent Graduate Electrical Engineering Student from Stony Brook University, with a focus on Power & Energy Systems (although not officially in the specialization). I integrated many theories and respective applications that I picked up over the years by collaborating with three other students to design a DC-DC Buck Converter for Low-Voltage Applications. I continue to further uncover how microelectronics are well-manufactured for our daily routines. By taking classes like Power Systems, Power Electronics, and VLSI System Design, I acquired new concepts and analytical approaches to how such microelectronics can be designed and maintained. Along with these, I am actively learning popular programming languages like Python, C++, HTML, CSS, and SQL, and using them for self-projects and further exposure to trending topics such as Machine Learning and Deep Learning to help become a more versatile, aspiring, and flexible engineer. I also am an avid runner.</p>

<h2>Links</h2>
<p>Clink on any of the links below to connect with me!</p>

<button>Facebook</button>
<button>X</button>
<button>Instagram</button>
<button>Strava</button>
    

  </body>
</html>
